<nav class="navbar-sentinel">
  <a class="nav-brand" routerLink="/">SENTINEL</a>

  <div class="nav-links">
    <a class="nav-link-item" routerLink="/"         routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
    <a class="nav-link-item" routerLink="/scan"      routerLinkActive="active">Scan</a>
    <a class="nav-link-item" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
  </div>

<div class="nav-icons">
  <i class="icon-item fa-regular fa-bell"></i>
  <i class="icon-item fa-solid fa-terminal"></i>
  <i class="icon-item fa-regular fa-user"></i>
</div>
</nav>
